/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2016, 11:26:24 AM
    Author     : MHafizhPutra
*/

body{
	background-color: #ececec;
}
.img-circle{
	/*height: 100px;*/
	height: 30%;
}
.bg_load {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #EEE;
}