td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}
.data-table-container {
  padding: 10px;
}

.dt-buttons .btn {
  margin-right: 3px;
}
